.Error {
    width: 50%;
    text-align: center;
    margin: 20vh auto;
}

.Error h1 {
    margin: 5vh;
    color: var(--color2);
    font-size: 8vh;
    height: auto;
}

.Error p {
    margin-bottom: 10vh;
}

.Error p:first-of-type {
   font-size: 1.67vw;
}

.Error a {
    text-decoration: underline var(--color2);
}